li {
  color: blue;
}

.lampe {
  width: 150px;
  height: 150px;
  padding: 50px;
  border: 2px solid black;
  border-radius: 50%;
}

.on {
  background-color: yellow;
  color: black;
}
.off {
  background-color: black;
  color: white;
}
span {
  border: 2px solid gold;
}
